.search-box{
    padding: 8px 16px 8px 16px;
    margin: 5px;
    margin-bottom: 16px;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    transition: outline 0.1s;
}
.search-box:focus{
    outline:4px solid rgb(255, 255, 255,0.5);
}
h1{
    font-size: 5vw;
    margin-bottom: 16px;
    margin-top: 16px;
    animation: slider 0.3s ease-in,textDecoration 5s linear infinite;
}
.header{
    text-align: center;
}

@keyframes slider{
    from{
        translate:0px -20px;
    }
    to{
        translate:0px 0px;

    }
    
}

@keyframes textDecoration{
     0%{
        color: white;
    }
    50%{
        color: yellow;
    }
    100%{
        color: white;
    }
}