.App {
  text-align: center;
}
*{
  padding:0;
  margin:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
input[type=text]{
  font-size: 16px;
  padding: 5px 16px 5px 16px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  background-color: rebeccapurple;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
}
h5{
  font-weight: normal;
}
.mazan{
  padding: 15px;
  padding-top: none !important;
}
hr{
  border: 2px solid #61dafb;
  background-color: transparent;
}
h1{
  color: #61dafb;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.j{
  display: none !important;
}